@import "~bootstrap/scss/functions";

// $form-check-input-bg: green;

$form-check-input-focus-box-shadow: none;
// $form-check-input-checked-bg-color: transparent;

$popover-bg: #6673af;
$popover-max-width: 180px;
$popover-border-color: none;
$popover-border-radius: 0;
$popover-arrow-color: $popover-bg;
$font-family-base: "Jost", sans-serif;
$form-label-font-size: 10px;

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/che";
@import "~bootstrap/scss/bootstrap";
// @import './customRadio';
// $form-check-inline-margin-end: 2rem;

.popover {
  font-size: 11px;
  font-weight: 600;
  padding: 10px;
  color: white;
}

.popover-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  vertical-align: text-bottom;
}

.popover-icon {
  pointer-events: none;
  width: 15px;
  height: 15px;
  fill: var(--bs-gray-600);
}

.clarification {
  width: fit-content;
  margin-top: 50px;
  display: grid;
  gap: 7px;
  background-color: #fbf4da;
  padding: 25px;
  font-size: 12px;

  p {
    margin: 0;
  }
}

.custom-form-check {
  display: flex;
  align-items: center;
  padding: 0;
  min-height: 1.5rem;
  margin-bottom: 0;
  font-size: 14px;
}

.form-input-text {
  width: 100%;
  max-width: 135px;
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  box-shadow: none;

  transition: border-color 0.3s, box-shadow 0.3s;

  &:focus {
    border-color: #999;
    box-shadow: 0 0 8px rgba(153, 153, 153, 0.25);
  }

  // &:focus::placeholder {
  //   color: red;
  // }

  &::placeholder {
    color: #999;
  }
}

.form-inputs-container {
  margin-left: 35px;
}

.custom-radio {
  .form-check-input {
    margin-right: 5px;
    &:checked {
      background-color: white;
      border-color: #999;
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' /></svg>");
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(153, 153, 153, 0.5);
    }
  }

  .form-check-label {
    &:hover {
      cursor: pointer;
    }
  }
}

$red-color: red;
$black-color: black;

.custom-switch {
  margin-bottom: 10px;

  label.label-1 {
    order: 0;
    color: $red-color;
  }

  label.label-2 {
    order: 2;
    color: $black-color;
  }

  input[type="checkbox"]:checked {
    & ~ label.label-1 {
      color: $black-color;
    }
    & ~ label.label-2 {
      color: $red-color;
    }
  }

  input[type="checkbox"]:not(:checked) {
    & ~ label.label-2 {
      color: $black-color;
    }
  }

  .form-check-input {
    order: 1;
    margin-inline: 5px;
    background-color: #999;
    border-color: #999;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%23fff'/></svg>");

    &:checked {
      background-color: #f8a434;
      border-color: #f8a434;
    }

    &:checked:focus {
      box-shadow: 0 0 0 0.25rem rgba(248, 164, 52, 0.5);
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(153, 153, 153, 0.5);
    }
  }

  .form-check-label {
    font-weight: 600;
    font-size: x-small;
    // color: gray;
    &:hover {
      cursor: pointer;
    }
  }
}

.round-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  padding: 0;
  transition: background-color 0.3s ease;
  fill: green;
  margin-left: 4px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(153, 153, 153, 0.5);
  }
}

.button-icon {
  pointer-events: none;
  font-size: 18px; /* Adjust the icon size */
  color: gray; /* Adjust the icon color */
}
